Repository WowELang/wowelang, pull requests merged in 2025-04, with the labels that each got.

#34 Refactor : (Infra) univcert_api_key 환경변수 추가
  .github/workflows/CICD.yml
Labels: 🛠️Chore, ♻️Refactor

#27 Feat: (Domain) 회원가입, 메일인증 API 구현 (#26)
  .gitignore
  build.gradle
  src/main/java/org/example/wowelang_backend/Country.java
  src/main/java/org/example/wowelang_backend/Gender.java
  src/main/java/org/example/wowelang_backend/KoreanTutorAttribute.java
  src/main/java/org/example/wowelang_backend/User.java
  src/main/java/org/example/wowelang_backend/UserRepository.java
  src/main/java/org/example/wowelang_backend/Usertype.java
  src/main/java/org/example/wowelang_backend/board/domain/Post.java
  src/main/java/org/example/wowelang_backend/board/domain/Reply.java
  src/main/java/org/example/wowelang_backend/common/apiPayLoad/status/ErrorStatus.java
  src/main/java/org/example/wowelang_backend/common/configs/SecurityConfigs.java
  src/main/java/org/example/wowelang_backend/report/Report.java
  src/main/java/org/example/wowelang_backend/user/controller/UserController.java
  src/main/java/org/example/wowelang_backend/user/domain/ForeignTuteeAttribute.java
  src/main/java/org/example/wowelang_backend/user/domain/Gender.java
  src/main/java/org/example/wowelang_backend/user/domain/KoreanTutorAttribute.java
  src/main/java/org/example/wowelang_backend/user/domain/User.java
  src/main/java/org/example/wowelang_backend/user/domain/Usertype.java
  src/main/java/org/example/wowelang_backend/user/dto/ClearEmailDto.java
  src/main/java/org/example/wowelang_backend/user/dto/LoginIdCheckReqDto.java
  src/main/java/org/example/wowelang_backend/user/dto/UserSignupReqDto.java
  src/main/java/org/example/wowelang_backend/user/dto/VerificationDto.java
  src/main/java/org/example/wowelang_backend/user/repository/ForeignTuteeRepository.java
  src/main/java/org/example/wowelang_backend/user/repository/KoreanTutorRepository.java
  src/main/java/org/example/wowelang_backend/user/repository/UserRepository.java
  src/main/java/org/example/wowelang_backend/user/service/UnivcertService.java
  src/main/java/org/example/wowelang_backend/user/service/UserService.java
  src/main/resources/application.yml
Labels: 🔥Feat, ♻️Refactor, ⭐️Domain : User & Auth

#29 Feat : (Domain) 게시글 Api 일부, 게시글 무한스크롤 페이지네이션 구현
  src/main/java/org/example/wowelang_backend/board/controller/BoardController.java
  src/main/java/org/example/wowelang_backend/board/controller/PostController.java
  src/main/java/org/example/wowelang_backend/board/controller/ReplyController.java
  src/main/java/org/example/wowelang_backend/board/domain/Post.java
  src/main/java/org/example/wowelang_backend/board/dto/BoardListResponseDTO.java
  src/main/java/org/example/wowelang_backend/board/dto/PageResponseDTO.java
  src/main/java/org/example/wowelang_backend/board/dto/PostCreateDTO.java
  src/main/java/org/example/wowelang_backend/board/dto/PostDTO.java
  src/main/java/org/example/wowelang_backend/board/repository/BoardRepository.java
  src/main/java/org/example/wowelang_backend/board/repository/PostRepository.java
  src/main/java/org/example/wowelang_backend/board/repository/ReplyRepository.java
  src/main/java/org/example/wowelang_backend/board/service/BoardService.java
  src/main/java/org/example/wowelang_backend/board/service/PostService.java
  src/main/java/org/example/wowelang_backend/board/service/ReplyService.java
  src/main/java/org/example/wowelang_backend/common/BaseEntity.java
  src/main/java/org/example/wowelang_backend/common/apiPayLoad/status/ErrorStatus.java
  src/main/resources/application.yml
Labels: 🔥Feat, ⭐️Domain : Report & Post

#39 [Feat] : (Domain) 게시글 조회, 수정, 삭제 api 구현
  src/main/java/org/example/wowelang_backend/board/controller/PostController.java
  src/main/java/org/example/wowelang_backend/board/domain/Post.java
  src/main/java/org/example/wowelang_backend/board/domain/Reply.java
  src/main/java/org/example/wowelang_backend/board/dto/PostDTO.java
  src/main/java/org/example/wowelang_backend/board/dto/PostResponseDTO.java
  src/main/java/org/example/wowelang_backend/board/dto/PostUpdateDTO.java
  src/main/java/org/example/wowelang_backend/board/dto/PostUpdateResponseDTO.java
  src/main/java/org/example/wowelang_backend/board/repository/PostRepository.java
  src/main/java/org/example/wowelang_backend/board/service/PostService.java
Labels: 🔥Feat, ⭐️Domain : Report & Post

#44 Feat : (Global) CORS설정
  src/main/java/org/example/wowelang_backend/common/configs/WebMvcConfig.java
Labels: 🛠️Chore, 🔥Feat

#45 Feat : (Domain) 이미지 S3업로드 로직 구현 (#24)
  build.gradle
  src/main/java/org/example/wowelang_backend/board/controller/PostFileController.java
  src/main/java/org/example/wowelang_backend/board/domain/Image.java
  src/main/java/org/example/wowelang_backend/board/dto/PostImageResponseDTO.java
  src/main/java/org/example/wowelang_backend/board/repository/ImageRepository.java
  src/main/java/org/example/wowelang_backend/board/service/FileService.java
  src/main/java/org/example/wowelang_backend/common/config/S3Config.java
  src/main/java/org/example/wowelang_backend/common/config/SecurityConfig.java
  src/main/java/org/example/wowelang_backend/common/config/WebMvcConfig.java
  src/main/java/org/example/wowelang_backend/common/configs/SecurityConfigs.java
Labels: ⭐️Domain : Report & Post
